.Post {
    /* width: 40%; */
    display: inline-table;
    align-items: center;
    width: 21%;
    padding: 1px;
    text-align: center;
    
}

.card-image{
    width: 100%;
    height: 1%;
    object-fit: contain;

}
.fixTitle {
    text-align: center;
}
.fixText {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show */
    -webkit-box-orient: vertical;
}