.about h1{
    display: block;
    text-align: center;
    padding-top: 5%;
    color: honeydew;
    }
    
    .about h2{
        text-align: center;
        padding-top: 3%;
        color: honeydew;
    }
    
    /* .container h3 {
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
    } */