.about {
    display: block;
    text-align: center;
    padding-top: 4%;
    color: honeydew;
    }
    
    .about h2{
        text-align: center;
        padding-top: 2%;
        color: honeydew;
    }
    